@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e293b;
  --primary-dark: #0f172a;
  --primary-light: #334155;
  --accent: #7f1d1d;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para el sidebar */
@media (min-width: 768px) {
  .md\:sticky {
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

/* Estilos para el fondo del login */
.backdrop-blur-sm {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
